nav{
    margin: 0px 0px 20px 0px;
    width: 100%;
    height: 80px;
    position: relative;
    top:0px;
    position: fixed;
    background-color: $second-background-color;
    z-index: 100;
    @include boxShadowBasic();
    animation-duration: 0.8s;

  animation-fill-mode: both;
  top: 0px;
  animation-name: apparitionNav;
    // display: flex;
    // justify-content: space-around;

    .profile{
        position: absolute;
        top:20px;
        left: 50px;
        color: rgb(20 ,20, 20);
        padding: 5px 10px;

    }
    .menu_container{
        position: absolute;
        top:20px;
        right: 50px;
        width: auto;
        display: flex;

        .active{
            @include boxShadowBasic();
            padding: 5px 10px;
            border-radius: 10px;
            color: $main-color;
            background-color: $background-color;
        }
        
        a, p{
            color: $texte-color;
            margin: 0px 20px;
            padding: 5px 10px;
            text-align: center;
            width: auto;
            font-family: $title-font-family;

        }
    }
}

@media screen and (max-width:800px) {
    nav{
        margin: 0px 0px 20px 0px;
        position: relative;
        background-color: white;
        height: 70px;
        box-shadow: none;

        .profile{
            left: 10px;
        }
        .menu_container
        {
            right: 10px;
            flex-direction: column;
            a,p{
                margin: 0px 10px;
            }
        }
    }
}

@keyframes apparitionNav {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
    }
  }