.depenseEvent_container{
    margin: 60px auto 20px;
    width: 100%;
    .title_list_evenement{
        text-align: center;
        margin: 0px auto 30px;
        width: 80%;

        }
    .List{
        background-color: $background-color;
        color: $main-color;
        padding: 10px 0px;
        width: 100%;
        min-width: 320px;
        margin: auto;

        .head_tab{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            // width: auto;
            margin: 0px auto 20px;
            padding: 5px;
            border-radius: 10px;
            background-color: $background-color;
            color: $main-color;
            min-width: 320px;
    
    
    
            p{
                margin: 0px 5px;
                font-weight: 600;
                font-family: $title-font-family;
            }
        }

        
.element-above{
    position: relative;
    .edit-delete{
        color: white;
        top: 4px;
        left: 7px;

    }
}

        .element{
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 30px auto 30px 60px;
        position: relative;
        background-color: $second-background-color;
        padding:  5px 5px 5px 5px;
        border-radius: 0px 10px 10px 0px;
        min-width: 300px;
        overflow: scroll;
        cursor: pointer;
        @include transitionBasic();

        &:hover{
            background-color: white;
            border-left: 3px $main-color solid;
        }

       

        p{
            margin: 0px 5px;
            color: $texte-color;
        }

        form{
            // border: solid black 1px;
            margin: 20px 0px;
            position: relative;
            background-color: white;
            border-radius: 5px;
            .plus_container{
                position: absolute;
                top:40%;
                left: -23px;
                svg{
                   color: white;
                    
        
                }
            }
            
            input{
                width: 85px;
                margin: 3px 10px;
                padding: 5px;
                border: 1px solid #FFCD17;
                font-family: $main-font-family;
                // color: $title-color;
                font-size: 1rem;
                cursor: pointer;
                border-radius: 10px;


                &::placeholder{
                    color: $title-color;
                }
            }
            .submit_container{
                @include flexCenter(row);
                // width: 80%;
                // margin: 10px 0px 0px 0px;
                .submit{
                    color: $title-color;
                    margin-bottom: 10px;
                    border: none;
                   
                }
            }
            

        }
        }
    }
}
@media screen and (min-width:500px){
    .depenseEvent_container{
        margin: 120px auto 20px;
        width: 100%;
        .head_tab{
            width: 60%;
            justify-content: space-around;
        }

        .List{
            width: 75%;
            border-radius: 10px;

            .element{
                overflow: hidden;
                justify-content: space-around;
                padding:  5px 5px 5px 40px;
                width: 90%;
                min-width: 300px;


                
            }
        }
    }
    
}