.donnees_container{
    margin:40px auto 20px;
   
    .head_date_container{
        @include flexCenter(row);
        width: 70%;
        justify-content: space-around;
        margin: 0px auto 60px auto;
        .choix_date{
            position: relative;
            // margin:0px 0px 50px 0px ;
    
            
            select{
                margin-right:20px;
                border-radius: 10px;
                border: none;
                @include boxShadowBasic();
                padding: 5px;
                background-color: $background-color;
                color: $main-color;
                text-align: center;
                font-family: $main-font-family;
                font-size: 1rem;
                cursor: pointer;
                option{
                    color: $main-color;
                    text-align: center;
                    font-family: $main-font-family;

                }
            }
        }
        .actualiser_container{
            @include flexCenter(row);
            .submit{
                margin-top: 0px;
            }
    
        }
        .date_actual_container{
            display: flex;
            justify-content: space-around;
            align-self: flex-start;

            svg{
                margin-top: 8px;
                color: #F2B138;
                cursor: pointer;
                &:nth-child(1){
                    margin: 8px -20px 0px 0px;
                }
                &:nth-child(5){
                    margin: 8px 0px 0px -20px;
                }
                

                @include transitionBasic();
                &:hover{
                    transform: scale(1.3);
                }
            }
            
            p{
                cursor: pointer;
                margin: 0px 20px;
                padding: 5px 10px;
                opacity: 0.5;
                width: 95px;
                text-align: center;
                @include transitionBasic();

                &:nth-child(3){
                    border-radius: 10px;
                    @include boxShadowBasic();
                    opacity: 0;
                    transform: scale(0.4);
                    
                    color: $title-color;
                    opacity: 1;
                    @include animationBasic(0.4s);
                    animation-name: opacity0_1;

                    
                }
                &:hover{
                    transform: scale(1.03);
                }
                
            }
        }

    }
    .total_container{
        width: 80%;
        margin: 10px auto 40px;
        display: flex;
        justify-content: space-around;
        .total_tableau{
            // border: 1px black solid;
            width: 250px;
            
            .element_tableau{
                background-color: $background-color;
                padding: 5px;
                margin: 3px 0px;
                border-radius: 10px;
                color: white;
                display: flex;
                justify-content: flex-start;
                position: relative;
                @include boxShadowBasic();


                &:nth-child(1){
                    background-color: #353D40;
                    p{
                    color: white;
                      
                    }
                }
                &:nth-child(2){
                    background-color: #0A9155;
                    p{
                    color: white;
                      
                    }
                }
                &:nth-child(3){
                    background-color: #F2B138;
                    p{
                    color: white;
                      
                    }
                }
                &:nth-child(4){
                    background-color: #631f00;
                    p{
                    color: white;
                      
                    }
                }
                &:nth-child(5){
                    background-color:  #A1A5A6;
                    p{
                    color: white;
                      
                    }
                }
                &:last-of-type{
                    background-color: rgb(0, 55, 128);
                    margin: 20px 0px 0px 0px;
                    p{
                    color: white
                     
                    }
                }
                p{
                    margin: 3px 0px 3px 5px;
                    &:last-of-type{
                        position:absolute;
                        right: 5px;
                    }
                  
                }
            }
        }

    }
    
}

@media screen and (max-width: 750px) {
    .donnees_container{
        .head_date_container{
            margin: 0px auto 10px auto;
            flex-wrap: wrap;
            
                .choix_date{
                    min-width: 200px;
                    width: 80%;
                    margin: 30px auto;
                    @include flexCenter(row);
                    
                    
                }
                .actualiser_container{
                    min-width: 200px;

                    .submit{
                        
                    margin: 20px auto;

                    }
                }
                .date_actual_container{
                    min-width: 200px;
                    margin: 20px auto;

                    svg{
                       
                        &:nth-child(1){
                            margin: 8px 0px 0px 0px;
                        }
                        &:nth-child(5){
                            margin: 8px 0px 0px 0px;
                        }
                    }

                    p{
                        margin: 0px 5px;
                        width: 95px;
                    }

                }
            }
    }
    .total_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .total_tableau{ 
          margin: 20px auto;
        }
        
    }
    
}